<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659996208050-vsrb856imcl0r7qkftrpv5g0touit16v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659996208050-vsrb856imcl0r7qkftrpv5g0touit16v</string>
	<key>API_KEY</key>
	<string>AIzaSyCetoxlGkV9APxUPk3eTyAksu5I9bprC_k</string>
	<key>GCM_SENDER_ID</key>
	<string>659996208050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>satishbisa.YeOrNay</string>
	<key>PROJECT_ID</key>
	<string>yeornay-tish</string>
	<key>STORAGE_BUCKET</key>
	<string>yeornay-tish.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659996208050:ios:04a7206f105333088752ab</string>
</dict>
</plist>